* {
  margin: 3px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: Exobold;
  src: url(../fonts/Exo-Bold.ttf);
}

@font-face {
  font-family: Exo;
  src: url(../fonts/exo.ttf);
}

.judul {
  font-family: "Exobold";
  color: #ffffff;
}

.teks {
  font-family: "Exo";
  color: #ffffff;
}

.kiri {
  background: #75B1B5;
  float: left;
  position: absolute;
}

.input {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #499297;
  color: white;
  border-radius: 10px;
  border-style: hidden;

}

.submit-btn {
  margin: 25px 0 5px;
  font-family: "Exobold";
  color: #0b7a75;
  min-width: 40%;
  max-width: 60%;
  padding: 10px;
  border-radius: 5px;
  border-style: hidden;
}

.powergo {
  font-family: "Exobold";
  font-size: 48px;
  color: rgb(190, 185, 185);
}

.register {
  margin-top: 35px;
}

.register a {
  color: rgb(23, 99, 161);
}

::placeholder {
  color: #71adad;
  font-family: "Exo";
}

.coba-profil {
  display: block;
  width: 20%;
}


@media (max-width: 576px) {
  * {
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .judul {
    font-size: 36px;
    margin: 35px 0 50px;
  }

  .kiri {
    width: 100%;
    height: 100vh;
    padding: 30px;
    position: absolute;
  }

  .register{
    text-align: center;
  }

  .login-submit {
    text-align: center;
  }
  
}

/* hape */
@media (min-width: 576px) {
  * {
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .judul {
    font-size: 24px;
    margin: 70px 0 100px;
  }

  .kiri {
    width: 100%;
    height: 100vh;
    padding: 30px;
    position: absolute;
  }
  
  .register{
    text-align: center;
  }

  .login-submit {
    text-align: center;
  }
  
}

.form-select {
  display: block;
  font-family: "Exo";
  margin-bottom: 20px;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(237, 237, 237);
  background-color: #499297;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #499297;
  border-radius: 7px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-select-lg {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1rem;
}

